$key-width: 40px;
$key-height: 200px;

$black-key-width: $key-width * 0.8;
$black-key-height: $key-height * 0.65;

.keyboard {
  display: inline-block;
}

.keyboard-key {
  position: relative;
  height: $key-height;
  width: $key-width;
  padding: 0;
  padding-top: $key-height - 30px;
  vertical-align: top;
  font-size: 0.8em;
  color: black;
  background-color: white;
  border: 1px solid black;
  outline: 0;
  user-select: none;
  z-index: 1;
}

.keyboard-key--black {
  height: $black-key-height;
  width: $black-key-width;
  padding-top: $black-key-height - 30px;
  color: white;
  background-color: black;
  z-index: 2;
}

.keyboard-key--black,
.keyboard-key--black + .keyboard-key {
  margin-left: -$black-key-width / 2;
}

.keyboard-key--pressed {
  background-color: pink;
}
